@model CProfiles.Web.Models.ExternalLoginViewModel
@using Microsoft.Owin.Security

<h4>Utiliser un autre service pour vous connecter.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {

    }
    else
    {
        using (Html.BeginForm(Model.Action as string, "Account", new { ReturnUrl = Model.ReturnUrl as string }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        var icon = ""; var color = "info";
                        switch (p.AuthenticationType.ToLower())
                        {
                            case "facebook": { icon = "facebook-square"; break; }
                            case "linkedin": { icon = "linkedin-square"; break; }
                            case "google": { icon = "google-plus-square"; color = "danger"; break; }
                        }
                        <button type="submit" class="btn btn-@color" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="fa fa-@icon fa-lg "></i> @p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
