@model CProfiles.Web.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
    var activeH = Model.Sexe == "Homme" ? "active" : "";
    var activeF = Model.Sexe == "Femme" ? "active" : "";
    var checkedH = Model.Sexe == "Homme" ? "checked" : "";
    var checkedF = Model.Sexe == "Femme" ? "checked" : "";
}
<link href="~/Content/countrySelect.css" rel="stylesheet" />
<div class="row">
    <h3>Associer votre @ViewBag.LoginProvider account.</h3>
    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        <p class="text-info">
            Vous êtes authentifié avec succès avec <strong>@ViewBag.LoginProvider</strong>.
            S'il vous plaît entrer un nom d'utilisateur pour ce site ci-dessous et cliquez sur le bouton Enregistrer pour terminer.
        </p>
        <hr />
        <div class="row">
            @Html.ValidationSummary(true)
        </div>
        <div class="col-md-2">
            <img src="@Model.ImageUrl" width="120" height="120" class="thumbnail" />
            @Html.HiddenFor(m => m.ImageUrl)
        </div>
        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DateNaissance, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    <div class="input-group date">
                        @Html.TextBoxFor(m => m.DateNaissance, new { @class = "form-control" })
                        <span class="input-group-addon input-group-addon-info"><i class="glyphicon glyphicon-inverse glyphicon-calendar"></i></span>
                    </div>
                </div>
                @Html.LabelFor(m => m.Pays, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Pays, new { @class = "form-control country-info", spellcheck = "false" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Sexe, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    <div class="btn-group " data-toggle="buttons">
                        <label class="btn btn-info col-md-6 @activeH" id="hommeLabel">
                            <input type="radio" name="SexeInput" id="sexeHomme" autocomplete="off" @checkedH>

                            Homme
                        </label>
                        <label class="btn btn-info col-md-6 @activeF" id="femmeLabel">
                            <input type="radio" name="SexeInput" id="sexeFemme" autocomplete="off" @checkedF>

                            Fremme
                        </label>
                    </div>
                </div>
                @Html.HiddenFor(m => m.Sexe)
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Confirmer" />
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/countrySelect.js"></script>
    <script>

        $(document).ready(function () {
            var name = $('#FirstName').val().split(' ')[0];
            getSexe(name);
        });
        function getSexe(name) {
            if (name != null && name != "") {
                $.ajax({
                    url: 'https://api.genderize.io/?name=' + name,
                    dataType: "json"
                }).done(function (data) {
                    var gender = data.gender;
                    if (gender == 'male') {
                        $('#sexeHomme').attr('checked', true);
                        $('#hommeLabel').addClass('active');
                        $('#sexeFemme').removeAttr('checked', false);
                        $('#femmeLabel').removeClass('active');
                        $('#Sexe').val('Homme');
                    }
                    else if (gender == 'female') {

                        $('#sexeFemme').attr('checked', true);
                        $('#femmeLabel').addClass('active');
                        $('#sexeHomme').removeAttr('checked', false);
                        $('#hommeLabel').removeClass('active');
                        $('#Sexe').val('Femme');
                    }
                });
            }
        }
        $('#FirstName').keyup(function () {
            var name = $('#FirstName').val().split(' ')[0];
            getSexe(name);
        });
        $('#FirstName').change(function () {
            var name = $('#FirstName').val().split(' ')[0];
            getSexe(name);
        });
        $('#sexeHomme').click(function () { $('#Sexe').val('Homme'); });
        $('#sexeFemme').click(function () { $('#Sexe').val('Femme'); });
        $("#Pays").countrySelect({
            defaultCountry: "tn",
            //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
            preferredCountries: ['tn']
        });
        $('.input-group.date').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            clearBtn: true,
            language: "fr",
            autoclose: true
        });
    </script>
}
