@model CProfiles.Web.Models.ApplicationUser
@{
    ViewBag.Title = "Index";
}
<style>
    .ui-state-highlight {
        height: 10em;
        list-style: none;
        background-color: lightgray;
        border: dotted gray;
    }
</style>
<br />
<div id="UserProfiles" class="row"></div>
<div class="row visible-md visible-lg">
    <div class="cols-sm-1 col-sm-offset-11">
        <a href="@Url.Action("PDF", "Home")">
            <img src="~/Images/pdf_icon.png" height="31" />
        </a>
    </div>
</div>
<div id="OfferWrapper" class="sortable">
</div>
@section scripts{
    <script>
        @if (!User.IsInRole("Administrator")) {
            <text>


        var usersWrapper = document.getElementById('UserProfiles');
        var icon = "mars";
        if ('@Model.UserBase.Sexe' == 'Femme') var icon = "venus";
        new UserProfile({
            wrapper: usersWrapper,
            ImageSource: '@Url.Content(Model.UserBase.Photo.ImageUrl)',
            CssClass: 'col-xs-8 col-sm-6 col-md-12',
            UserName: '@Model.UserBase.FirstName' +' '+ '@Model.UserBase.LastName',
            ch1: '<i class="fa fa-' + icon + '"></i>',
            ch2: '@Html.Age(Model.UserBase.DateNaissance.Value) ans',
            ch3: 'de @Model.UserBase.Pays',
            urlCh3: '#',
            list: { '.NET': 'default', 'Html5': 'info', 'CSS3': 'info', 'JQuery': 'success' },
            color: 'default'
        });
        $('#ch3').popover({
            html: true,
            trigger: 'hover',
            container: '#bodyContainer',
            title: '@Model.UserBase.Pays',
            placement: 'bottom',
            content: function () {
                return '<img src="http://maps.googleapis.com/maps/api/staticmap?center=@Model.UserBase.Pays&size=248x248" />';
            },
        });
        </text>
    }
        $(document).ready(function () {
            GetGroups();
            $('.sortable').sortable({
                placeholder: "ui-state-highlight"
            });
        });
        $(".sortable").on("sortupdate", function (event, ui) {
            $(".sortable").sortable("disable");
            var ids = [];
            $('.offer-group').each(function (index, value) {
                var id = $(value).prop('id');
                ids.push(id);
            });
            console.log(ids);
            $.post(
                '/AdminJson/UpdateGroupOrder',
                { Ids: JSON.stringify(ids) },
                function (response) {
                    $(".sortable").sortable("enable");
                }
            );
        });
        $(".sortable").on("sortstart", function (event, ui) {
            $('#' + ui.item.attr('id') + ' .iconSort').show();
        });
        $(".sortable").on("sortstop", function (event, ui) {
            $('#' + ui.item.attr('id') + ' .iconSort').hide();
        });
        function GetGroups() {
            $("#OfferWrapper").html('');
            $.ajax({
                url: '@Url.Action("GetGroups", "AdminJson")',
                dataType: "json"
            }).done(function (data) {
                $.each(data, function (index, item) {
                    $("#OfferWrapper").append(GroupOffer(item, data.length));
                });

            });
        }

        function GroupOffer(item, max) {
            var icon = "sort";
            if (item.GroupOrder == 1)
                icon = "arrow-down";
            if (item.GroupOrder == max)
                icon = "arrow-up";

            return '<div class=" offer-group offer offer-' + item.GroupColor + '" id="' + item.GroupOrder + '">'
            + '<div class="ribbon">'
            + '<a href="#">' + item.GroupName + '</a>'
            + '</div>'
            + '<div class="offer-content">'
            + ' <h3 class="lead">'
            + '<span class="iconSort glyphicon glyphicon-' + icon + '" style="display:none;font-size:xx-large"></span> '
            + item.GroupName
            + '</h3>'
            + '</div>'
            + '</div>';
        }
    </script>
}

