@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF</title>
    @Styles.Render("~/Content/UserProfile")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="UserProfiles" class="row"></div>
    <div>
        <div class="offer offer-default">
            <div class="ribbon">
                <a href="#">Education</a>
            </div>
            <div class="offer-content">
                <h3 class="lead">
                    A default offer
                </h3>
                <p>
                    Florence avait fini de préparer le matériel demandé par Prélude. Elle était fin prête. Elle vérifia le bon fonctionnement de la liaison entre son ordinateur portable et Internet. Prélude était bien là. A peine connecté à Internet que la voix de Prélude se fit entendre.
                </p>
                <p>
                    L’ascenseur démarra tout seul après que la porte se soit fermée. Il descendait. Il n’arrêtait pas de descendre. Puis, il s’arrêta enfin. La porte s’ouvrit. Et David eut la stupeur de sa vie. Devant lui se déployait un complexe informatique. Une vingtaine de personnes se déplaçaient d’un poste à l’autre regardant au passage les écrans géants muraux situés au fond de la salle. Il y avait bien une cinquantaine d’ordinateurs, cinq écrans géants et, situé entre les écrans géants et les ordinateurs, une machinerie impressionnante.
                </p>
                <p>
                    « A la base militaire du 57ème RA ? Mais qu’est-ce que j’ai à voir avec les militaires ? » David se rappelle y avoir fait un séjour alors qu’il avait vingt quatre ans. Il avait fait tout son possible pour éviter le service militaire, encore en vogue à l’époque, mais lorsqu’on lui avait proposé de travailler sur des projets informatiques secret défense, il n’avait pas su résister. Non pas que c’était passionnant, mais au moins, il ne faisait pas trop de sorti et il était tranquillement installé dans un bureau avec le matériel dont il rêvait.
                </p>
                <p>
                    Un long silence se fit dans la voiture. Le chauffeur regardait droit devant. David jeta un œil sur le compteur qui affichait 210km/h. L’autoroute était déserte. Depuis la construction de la Ligne Grande Vitesse, les gens préféraient prendre les transports en communs, plus rapide et moins chers. La LGV traversait la France d'un bout à l'autre avec un arrêt à Paris.
                </p>
                <p>
                    « A la base militaire du 57ème RA ? Mais qu’est-ce que j’ai à voir avec les militaires ? » David se rappelle y avoir fait un séjour alors qu’il avait vingt quatre ans. Il avait fait tout son possible pour éviter le service militaire, encore en vogue à l’époque, mais lorsqu’on lui avait proposé de travailler sur des projets informatiques secret défense, il n’avait pas su résister. Non pas que c’était passionnant, mais au moins, il ne faisait pas trop de sorti et il était tranquillement installé dans un bureau avec le matériel dont il rêvait.
                </p>
                <blockquote class="blockquote-reverse">
                    <footer>text générer apartir <a href="http://prelude.riendetel.com" target="_blank">du roman "Prélude" </a>de F. Prélude </footer>
                </blockquote>
            </div>
        </div>
        <div class="offer offer-info">
            <div class="ribbon">
                <a href="#">Compétences</a>
            </div>
            <div class="offer-content">
                <h3 class="lead">
                    A default offer
                </h3>
                <p>
                    Florence avait fini de préparer le matériel demandé par Prélude. Elle était fin prête. Elle vérifia le bon fonctionnement de la liaison entre son ordinateur portable et Internet. Prélude était bien là. A peine connecté à Internet que la voix de Prélude se fit entendre.
                </p>
                <p>
                    L’ascenseur démarra tout seul après que la porte se soit fermée. Il descendait. Il n’arrêtait pas de descendre. Puis, il s’arrêta enfin. La porte s’ouvrit. Et David eut la stupeur de sa vie. Devant lui se déployait un complexe informatique. Une vingtaine de personnes se déplaçaient d’un poste à l’autre regardant au passage les écrans géants muraux situés au fond de la salle. Il y avait bien une cinquantaine d’ordinateurs, cinq écrans géants et, situé entre les écrans géants et les ordinateurs, une machinerie impressionnante.
                </p>
                <p>
                    « A la base militaire du 57ème RA ? Mais qu’est-ce que j’ai à voir avec les militaires ? » David se rappelle y avoir fait un séjour alors qu’il avait vingt quatre ans. Il avait fait tout son possible pour éviter le service militaire, encore en vogue à l’époque, mais lorsqu’on lui avait proposé de travailler sur des projets informatiques secret défense, il n’avait pas su résister. Non pas que c’était passionnant, mais au moins, il ne faisait pas trop de sorti et il était tranquillement installé dans un bureau avec le matériel dont il rêvait.
                </p>
                <p>
                    Un long silence se fit dans la voiture. Le chauffeur regardait droit devant. David jeta un œil sur le compteur qui affichait 210km/h. L’autoroute était déserte. Depuis la construction de la Ligne Grande Vitesse, les gens préféraient prendre les transports en communs, plus rapide et moins chers. La LGV traversait la France d'un bout à l'autre avec un arrêt à Paris.
                </p>
                <p>
                    « A la base militaire du 57ème RA ? Mais qu’est-ce que j’ai à voir avec les militaires ? » David se rappelle y avoir fait un séjour alors qu’il avait vingt quatre ans. Il avait fait tout son possible pour éviter le service militaire, encore en vogue à l’époque, mais lorsqu’on lui avait proposé de travailler sur des projets informatiques secret défense, il n’avait pas su résister. Non pas que c’était passionnant, mais au moins, il ne faisait pas trop de sorti et il était tranquillement installé dans un bureau avec le matériel dont il rêvait.
                </p>
                <blockquote class="blockquote-reverse">
                    <footer>text générer apartir <a href="http://prelude.riendetel.com" target="_blank">du roman "Prélude" </a>de F. Prélude </footer>
                </blockquote>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/UserProfile")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        var usersWrapper = document.getElementById('UserProfiles');
        new UserProfile({
            wrapper: usersWrapper,
            ImageSource: '/Images/face.png',
            CssClass: 'col-xs-8 col-sm-6 col-md-12',
            UserName: 'Mohamed Elkhames Bakir',
            Town: 'Tunisie',
            UserProfession: 'Développeur .NET',
            Societe: 'Cynapsys',
            SocieteURL: 'http://www.cynapsys.de',
            Skills: { '.NET': 'default', 'Html5': 'info', 'CSS3': 'info', 'JQuery': 'success' },
            color: 'default'
        });
    </script>


</body>
</html>
